@font-face {
  font-family: 'lyseis';
  src:  url('./lyseis.eot?h9w88g');
  src:  url('./lyseis.eot?h9w88g#iefix') format('embedded-opentype'),
    url('./lyseis.ttf?h9w88g') format('truetype'),
    url('./lyseis.woff?h9w88g') format('woff'),
    url('./lyseis.svg?h9w88g#lyseis') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ly6-"], [class*=" ly6-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'lyseis' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ly6-products:before {
  content: "\e900";
}
.ly6-mobile:before {
  content: "\e000";
}
.ly6-laptop:before {
  content: "\e001";
}
.ly6-desktop:before {
  content: "\e002";
}
.ly6-tablet:before {
  content: "\e003";
}
.ly6-phone:before {
  content: "\e004";
}
.ly6-document:before {
  content: "\e005";
}
.ly6-documents:before {
  content: "\e006";
}
.ly6-search:before {
  content: "\e007";
}
.ly6-clipboard:before {
  content: "\e008";
}
.ly6-newspaper:before {
  content: "\e009";
}
.ly6-notebook:before {
  content: "\e00a";
}
.ly6-book-open:before {
  content: "\e00b";
}
.ly6-browser:before {
  content: "\e00c";
}
.ly6-calendar:before {
  content: "\e00d";
}
.ly6-presentation:before {
  content: "\e00e";
}
.ly6-picture:before {
  content: "\e00f";
}
.ly6-pictures:before {
  content: "\e010";
}
.ly6-video:before {
  content: "\e011";
}
.ly6-camera:before {
  content: "\e012";
}
.ly6-printer:before {
  content: "\e013";
}
.ly6-toolbox:before {
  content: "\e014";
}
.ly6-briefcase:before {
  content: "\e015";
}
.ly6-wallet:before {
  content: "\e016";
}
.ly6-gift:before {
  content: "\e017";
}
.ly6-bargraph:before {
  content: "\e018";
}
.ly6-grid:before {
  content: "\e019";
}
.ly6-expand:before {
  content: "\e01a";
}
.ly6-focus:before {
  content: "\e01b";
}
.ly6-edit:before {
  content: "\e01c";
}
.ly6-adjustments:before {
  content: "\e01d";
}
.ly6-ribbon:before {
  content: "\e01e";
}
.ly6-hourglass:before {
  content: "\e01f";
}
.ly6-lock:before {
  content: "\e020";
}
.ly6-megaphone:before {
  content: "\e021";
}
.ly6-shield:before {
  content: "\e022";
}
.ly6-trophy:before {
  content: "\e023";
}
.ly6-flag:before {
  content: "\e024";
}
.ly6-map:before {
  content: "\e025";
}
.ly6-puzzle:before {
  content: "\e026";
}
.ly6-basket:before {
  content: "\e027";
}
.ly6-envelope:before {
  content: "\e028";
}
.ly6-streetsign:before {
  content: "\e029";
}
.ly6-telescope:before {
  content: "\e02a";
}
.ly6-gears:before {
  content: "\e02b";
}
.ly6-key:before {
  content: "\e02c";
}
.ly6-paperclip:before {
  content: "\e02d";
}
.ly6-attachment:before {
  content: "\e02e";
}
.ly6-pricetags:before {
  content: "\e02f";
}
.ly6-lightbulb:before {
  content: "\e030";
}
.ly6-layers:before {
  content: "\e031";
}
.ly6-pencil:before {
  content: "\e032";
}
.ly6-tools:before {
  content: "\e033";
}
.ly6-tools-2:before {
  content: "\e034";
}
.ly6-scissors:before {
  content: "\e035";
}
.ly6-paintbrush:before {
  content: "\e036";
}
.ly6-magnifying-glass:before {
  content: "\e037";
}
.ly6-circle-compass:before {
  content: "\e038";
}
.ly6-linegraph:before {
  content: "\e039";
}
.ly6-mic:before {
  content: "\e03a";
}
.ly6-strategy:before {
  content: "\e03b";
}
.ly6-beaker:before {
  content: "\e03c";
}
.ly6-caution:before {
  content: "\e03d";
}
.ly6-recycle:before {
  content: "\e03e";
}
.ly6-anchor:before {
  content: "\e03f";
}
.ly6-profile-male:before {
  content: "\e040";
}
.ly6-profile-female:before {
  content: "\e041";
}
.ly6-bike:before {
  content: "\e042";
}
.ly6-wine:before {
  content: "\e043";
}
.ly6-hotairballoon:before {
  content: "\e044";
}
.ly6-globe:before {
  content: "\e045";
}
.ly6-genius:before {
  content: "\e046";
}
.ly6-map-pin:before {
  content: "\e047";
}
.ly6-dial:before {
  content: "\e048";
}
.ly6-chat:before {
  content: "\e049";
}
.ly6-heart:before {
  content: "\e04a";
}
.ly6-cloud:before {
  content: "\e04b";
}
.ly6-upload:before {
  content: "\e04c";
}
.ly6-download:before {
  content: "\e04d";
}
.ly6-target:before {
  content: "\e04e";
}
.ly6-hazardous:before {
  content: "\e04f";
}
.ly6-piechart:before {
  content: "\e050";
}
.ly6-speedometer:before {
  content: "\e051";
}
.ly6-global:before {
  content: "\e052";
}
.ly6-compass:before {
  content: "\e053";
}
.ly6-lifesaver:before {
  content: "\e054";
}
.ly6-clock:before {
  content: "\e055";
}
.ly6-aperture:before {
  content: "\e056";
}
.ly6-quote:before {
  content: "\e057";
}
.ly6-scope:before {
  content: "\e058";
}
.ly6-alarmclock:before {
  content: "\e059";
}
.ly6-refresh:before {
  content: "\e05a";
}
.ly6-happy:before {
  content: "\e05b";
}
.ly6-sad:before {
  content: "\e05c";
}
.ly6-facebook:before {
  content: "\e05d";
}
.ly6-twitter:before {
  content: "\e05e";
}
.ly6-googleplus:before {
  content: "\e05f";
}
.ly6-rss:before {
  content: "\e060";
}
.ly6-tumblr:before {
  content: "\e061";
}
.ly6-linkedin:before {
  content: "\e062";
}
.ly6-dribbble:before {
  content: "\e063";
}
