<div class="app-container app-theme-white body-tabs-shadow">
    <div class="app-container">
        <div class="h-100 bg-plum-plate bg-animation">
            <div class="d-flex h-100 justify-content-center align-items-center">
                <div class="mx-auto app-login-box col-md-8">
                    <div class="app-logo-inverse mx-auto mb-3"></div>
                    <div class="modal-dialog w-100 mx-auto">
                        <div class="modal-content">
                            <form [formGroup]="formControls" #form="ngForm" (submit)="Login()">
                            <div class="modal-body">
                                <div class="h5 modal-title text-center">
                                    <h4 class="mt-2">
                                        <div>Bienvenido!</div>
                                    </h4>
                                </div>
                                    <div class="form-row">
                                        <div class="col-md-12">
                                            <div class="position-relative form-group">
                                                <input
                                                    name="usuario"
                                                    placeholder="Su usuario"
                                                    type="text"
                                                    class="form-control"
                                                    formControlName="userName"
                                                    [ngClass]="{'is-invalid' : !formControls.controls['userName'].valid && form.submitted }">
                                                    <em class="error invalid-feedback">Por favor ingrese su nombre de usuario</em>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="position-relative form-group">
                                                <input 
                                                    placeholder="Su contraseña"
                                                    type="text"
                                                    class="form-control"
                                                    formControlName="password"
                                                    [ngClass]="{'is-invalid' : !formControls.controls['password'].valid && form.submitted }">
                                                <em class="error invalid-feedback">Por favor ingrese su contraseña</em>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer clearfix">
                                    <div class="float-right">
                                        <button type="submit" class="btn btn-primary btn-lg">Acceder a Lyseis</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="text-center text-white opacity-8 mt-3">Copyright © Lyseis 2022</div>
                </div>
            </div>
        </div>
    </div>
</div>